<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- body %>
    <%- js('wikipile.bundle')%>
  </body>
</html>
