<div class="index-feature-block">
  <div class="intro-block">
    <h1><%= config.title %></h1>
    <div class="intro-subtitle">
      <%= config.subtitle %>
    </div>
    <span class="package-amount">
      <%- __('home_package_amount').replace('{num}', site.posts.length) %>
    </span>
  </div>
  <div class="search-block" role="search">
    <div class="search-container">
      <input
        class="search-input"
        type="text" id="local-search-input"
        name="q"
        results="0"
        placeholder="<%= __('home_search_placeholder') %>"
        autocomplete=off
        autofocus
        tabindex=0
        autocorrect=off
        autocapitalize=off
        spellcheck=false
      >
      <span class="search-cancel">
        <i class="iconfont icon-cancel" />
      </span>
    </div>
    <div id="search-result" class="search-result"></div>
  </div>
</div>