<div class="pane">
  <div class="pane-title">
  <span class="fw-m-bold"><%= __('home_panel_title') %></span>
  <span></span>
  </div>
  <div class="pane-body">
    <div class="pane-item">
      
    </div>
  </div>
  <div class="button-wrapper"></div>
</div>