.footer  
  font-size 14px
  padding 40px 0
  background #100e16
  & .footer-inner
    text-align center
    max-width 1280px
    margin 0 auto
    color #777
  & .footer-copyright   
    color rgba(0,0,0,.35)
    line-height 22px
    font-size 12px
    margin-bottom 26px      
    & a
      color $thr-clr !important