.navbar
  width 100%
  background #100e16
  position fixed
  .solid .top
    padding 4px 20px
  .top
    display flex
    justify-content space-between
    padding 10px 20px
    max-width 1280px
    margin 0px auto 0 auto
    box-shadow 0 0 10px rgba(0, 0, 0, 0.05)
    transition all 0.2s ease
    .logo
      flex 0
      color white
      justify-content flex-start
      align-items center
      display flex
      .logo-img
        color black
        background white
        padding 4px 8px
        position: relative;
        background-size contain
        text-indent -999em
        width 28px
        height 28px
    .menu-items
      display flex
      position static
      background none
      color white
      width auto
      padding 5px 0
      .menu-item
        margin-left 20px
        a
          color inherit
          font-size 20px
