.pane
  max-width 800px
  margin 0 auto
  position relative
  padding 0 20px 40px 20px
  .pane-title
    position relative
    margin 16px 0 16px 0
    font-size 20px
    color #100e16
    height 40px
    &::before
      content ''
      position absolute
      width 100%
      height 2px
      margin-top 40px
      border-bottom .5px solid #c4bab9
      -webkit-transform-origin 0 0
      -moz-transform-origin 0 0
      -ms-transform-origin 0 0
      -o-transform-origin 0 0
      transform-origin 0 0
      -webkit-box-sizing border-box
      -moz-box-sizing border-box
